In [110]:
import pandas as pd
import glob
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
import manipulating_data as md

In [3]:
path = glob.glob('**/*dengue_features_train.csv', recursive=True) [0]

In [4]:
deng_train = pd.read_csv(path)

In [5]:
deng_train.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [6]:
class DataSet() :
    def __init__(self, path) :
        self.path = path
        self.data = pd.read_csv(path)

In [7]:
data = DataSet(path)
data.data.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [118]:
class CategoricalVariable() :


    def __init__(self, column : pd.Series) :
        self.column = column
    
    @staticmethod
    def ordinal_encode(column: pd.Series, get_values_mapping = False) -> pd.Series:

        encoder = OrdinalEncoder()
        encoded_data = encoder.fit_transform(pd.DataFrame(column)).flatten()
        
        return pd.Series(encoded_data, index=column.index, name=column.name)

    @staticmethod
    def one_hot_encode(column: pd.Series, show_mapping = False) -> pd.DataFrame:

        encoder = OneHotEncoder(sparse=False)
        fitted_encoder = encoder.fit(pd.DataFrame(column))
        transformed = fitted_encoder.transform(pd.DataFrame(column))
        inverse_transformation = encoder.inverse_transform(transformed)

        if show_mapping :

            values_to_representations = { i.tolist()[0] : t.tolist() for t, i in\
                                        zip(transformed, inverse_transformation) }
            
            return values_to_representations
        
        
        return pd.DataFrame(transformed, columns=fitted_encoder.get_feature_names())

    
    def encode_data(self, method) -> pd.DataFrame:
        if method == 'ordinal':
            encoded_df = CategoricalVariable.ordinal_encode(self.column)
        elif method == 'one_hot':
            encoded_df = CategoricalVariable.one_hot_encode(self.column)
        else:
            raise ValueError(f"Encoding method {method} not recognized.")
        return encoded_df  # Return the correct variable here

In [119]:
categorical_col = CategoricalVariable(deng_train['city'])

In [120]:
encoded_data = categorical_col.encode_data('one_hot')

c:\Users\Predator\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [121]:
encoded_data

      x0_iq  x0_sj
0       0.0    1.0
1       0.0    1.0
2       0.0    1.0
3       0.0    1.0
4       0.0    1.0
...     ...    ...
1451    1.0    0.0
1452    1.0    0.0
1453    1.0    0.0
1454    1.0    0.0
1455    1.0    0.0

[1456 rows x 2 columns]

In [104]:
mapping

{'sj': [0.0, 1.0], 'iq': [1.0, 0.0]}

In [112]:
help(md.manipulating_data_structures)

Help on module manipulating_data.manipulating_data_structures in manipulating_data:

NAME
    manipulating_data.manipulating_data_structures

FUNCTIONS
    are_all_scalars(input_list)
        "
        Checks if all the items in a list are scalars (int, float, str).

        Parameter
        ---------
        input_list : list.

        Returns
        -------
        bool.
            True if all the items in a list are scalars, False otherwise.

        Example
        -------
        are_all_scalars([ 1, 'a', 3.77 ])

            >>> True

        are_all_scalars([ 1, 'a', [ 3.77 ] ])

            >>> False

    check_if_frames_are_equal(df_a, df_b) -> bool
        Checks if two dataframes are equal (have the same columns),
        regardless of the order of the columns.

        Parameters
        ----------
        df_a : pandas.DataFrame.
            First dataframe.
        df_b : pandas.DataFrame.
            Second dataframe.

        Returns
        -------
        bool.
            True if the dataframes are equal, False otherwise.

        Example
        -------
        df_a = pd.DataFrame({ 0: ['a', 'b', 'c'], 1: [9, 8, 7], 2: [True, True, False] })
        df_b = pd.DataFrame({ 0: [9, 8, 7], 1: [True, True, False], 2: ['a', 'b', 'c'] })
        df_c = pd.DataFrame({ 0: [9, 8, 7], 1: [True, True, False], 2: ['a', 'd', 'c'] })

        check_if_frames_are_equal(df_a, df_b)
            >>> True

        check_if_frames_are_equal(df_a, df_c)
            >>> False

    concat_diction(dictions_iterab, non_overlapping_keys=False) -> dict
        Takes a list of dictionaries and output
        one big dictionary with the unique keys of
        the original dictionaries as keys and the combined
        values sharing the same key as values.
        The keys are strings and the values are lists.


        Parameters
        ----------
        dictions_iterab : list. List of dictionaries,
                          which we want to combine into one.

        Returns
        -------
        dict.

        Examples
        --------
        concat_diction([{'a' : 1, 'b' : 2}, {'a' : 3, 'b' : 4}])

            {'a': [1, 3], 'b': [2, 4]}

        concat_diction([{'a' : 1, 'b' : 2}, {'c' : 3, 'd' : 4}], non_overlapping_keys = True)

            {'a': 1, 'b': 2, 'c': 3, 'd': 4}

    flatten_iterab(iterab: Union[list, tuple]) -> Union[list, tuple]
        Flattens an iterable of iterables.

        Parameters
        ----------
        iterab : list or tuple.
            A nested iterable.

        Returns
        -------
        list or tuple.
            A flattened list if the input is a list,
            a flattened tuple if the input is a tuple.

        Example
        -------
        flatten_iterab([[1, 2], [3, 4]])

            [1, 2, 3, 4]

    get_values_under_key_from_iterable_of_dictions(dictions_iterab, key) -> list
        This function takes an iterable of dictionaries and returns a list of values under a given key, which
        can be NaN if the key is not present in some dictionary.

        Parameters
        ----------
        dictions_iterab : iterable of dictionaries
            The iterable of dictionaries from which the values under a given key are to be extracted.
        key : str.
            The key under which the values are to be extracted.

        Returns
        -------
        list.

        Example
        -------
        >>> get_values_under_key_from_iterable_of_dictions( [ {'a' : 1, 'b' : 2}, {'a' : 3, 'b' : 4} ], 'a' )

                [1, 3]

    intersection_of_dfs(dataframes_iterab: List[pandas.core.frame.DataFrame]) -> pandas.core.frame.DataFrame
        Parameter
        ----------
        dataframes_iterab : list of DataFrames.

        Returns
        -------
        pd.DataFrame.

        Example
        -------
        print(booking.columns)

            Index(['thumbnail', 'title', 'stars', 'preferredBadge', 'promotedBadge',
                'location', 'subwayAccess', 'sustainability', 'distanceFromCenter',
                'highlights', 'link', 'price_value', 'price_taxesAndCharges',
                'price_currency', 'rating_score', 'rating_scoreDescription',
                'rating_reviews', 'marketplace'],
            dtype='object')

        print(airbnb.columns)

            Index(['thumbnail', 'title', 'subtitles', 'rating', 'link', 'price_value',
                'price_period', 'price_currency', 'marketplace'],
            dtype='object')

        print(hotelscom.columns)

            Index(['title', 'isAd', 'location', 'paymentOptions', 'highlightedAmenities',
                'link', 'snippet_title', 'snippet_text', 'price_value',
                'price_withTaxesAndCharges', 'price_currency', 'rating_score',
                'rating_reviews', 'marketplace'],
            dtype='object')

        # the output will have only the columns that are present in all three dataframes

        print(intersection_of_dfs([airbnb, booking, hotelscom]).head())

            link                                           marketplace price_currency      0  https://www.airbnb.com/rooms/647664199858827562      airbnb              $
        1            https://www.airbnb.com/rooms/41220512      airbnb              $
        2            https://www.airbnb.com/rooms/30881310      airbnb              $
        3             https://www.airbnb.com/rooms/2591901      airbnb              $
        4            https://www.airbnb.com/rooms/19075304      airbnb              $

        price_value                                       title
        0           31                   Private room in Tempelhof
        1           40                       Private room in Mitte
        2          108               Hotel room in Prenzlauer Berg
        3           34                 Private room in Lichtenberg
        4           71  Private room in Charlottenburg-Wilmersdorf

    intersection_of_n_sets(iterable_of_sets: list) -> set
        Takes a list of sets and returns the intersection
        of those sets.

        Parameters
        ----------
        iterable_of_sets : list.

        Returns
        -------
        set.

        Example
        -------
        intersection_of_n_sets([{1, 2, 3}, {2, 3, 4}, {3, 4, 5}])

            {3}

    is_scalar(item)
        Checks if an item is a scalar (int, float, str, bool).

        Parameter
        ---------
        item : any.
            A Python object, for which we want to find out
            whether it is like an array or like a float/str etc.

        Returns
        -------
        bool.
            True if the item is a scalar, False otherwise.

        Example
        -------
        is_scalar(1)

            >>> True

        is_scalar(True)

            >>> True

        is_scalar( [ 'a', 'b', 'c' ] )

            >>> False

    make_set_into_ordered_list(some_set: set, reverse=False, key=None) -> list
        Takes a set and returns a list with the same elements.

    replace_value_of_iterab(iterab, value, new_value)
        Replaces a value in an iterable with a new value.

        Parameters
        ----------
        iterab : list, tuple, set or pd.Series.
            An iterable where we want to replace one value
            with a new value.
        value : any.
            The value to be replaced.
        new_value : any.
            The new value.

        Returns
        -------
        list.
            The list with the one value replaced and
            the rest the same as in the original iterable.

        Example
        -------
        replace_value_of_iterab([1, 2, 3, 4, 5], 3, 10)

            [1, 2, 10, 4, 5]

    slicing_diction(diction: dict, stop: Union[int, NoneType] = None, start=0, only_values=False, only_keys=False, vals_limit=None) -> Union[dict, list]
        Takes a dictionary and start and stop index and
        returns a smaller (or same size) dictionary whose
        indices of key, value pairs are between start and stop index,
        in a fashion similar to list slicing.

        Parameters
        ----------
        diction : dict. Any dictionary.
        stop : int or None. The index of the last key value pair that we want to
                            include in our dictionary slice.

        start : int. Defaults to 0.

        Returns
        -------
        list (keys or values of a smaller dictionary) if only_values is True or only_keys is True.
        dict (a smaller dictionary) otherwise.



        Examples
        --------
        slicing_diction({'John' : 'Doe', 'James' : 'Bond', 'Amy' : 'Robertson'})

            {'John': 'Doe', 'James': 'Bond', 'Amy': 'Robertson'}

        slicing_diction({'John' : 'Doe', 'James' : 'Bond', 'Amy' : 'Robertson'}, stop = 2)

            {'John': 'Doe', 'James': 'Bond'}

        slicing_diction({'John' : 'Doe', 'James' : 'Bond', 'Amy' : 'Robertson'}, start = 1, stop = None)

            {'James': 'Bond', 'Amy': 'Robertson'}

        slicing_diction({'John' : 'Doe', 'James' : 'Bond', 'Amy' : 'Robertson'}, start = 1)

            {'James': 'Bond', 'Amy': 'Robertson'}

    squeeze_diction(start_key: Union[str, int, float, tuple], end_key: Union[str, int, float, tuple], diction: dict, aggregation: Union[NoneType, str] = None) -> dict
        Reduces the number of dictionary keys while keeping all the values.
        For example, if we had, say, some weekly sales data
        and we would want to convert it to monthly data, we can
        assign the first 4 weeks values to the first month, the next 4 weeks
        values to the second month, etc.


        Parameters
        ----------
        diction : dict.
        start_key : str or int or float or tuple. The key of a diction dictionary.
        end_key : str or int or float or tuple. The key of a diction dictionary.
        aggregation : str or None. The aggregation function to be applied to the values
                                    between start_key and end_key. If None, no aggregation
                                    is applied and all the values are listed.
                                    The valid aggregation functions are 'sum', 'min', 'max', 'np.mean',
                                    'np.median', 'np.std', 'np.var', 'np.prod', 'np.sum', 'np.min', 'np.max'.

        Returns
        -------
        dict.

        Examples
        -------
        squeeze_diction(diction = {'week1' : 50, 'week2' : 30, 'week3' : 50}, start_key = 'week1',               end_key = 'week3')

            {'From week1 to week3': [50, 30, 50]}

        squeeze_diction(diction = {'week1' : 50, 'week2' : 30, 'week3' : 50}, start_key = 'week1',               end_key = 'week3', aggregation='np.mean')

            {'From week1 to week3': 43.333333333333336}

DATA
    List = typing.List
    Union = typing.Union

FILE
    c:\users\predator\desktop\data_cleaning\data_cleaning\functions\manipulating_data\manipulating_data\manipulating_data_structures.py

In [113]:
rows = []

for c in deng_train['city']:
    rows.append(mapping[c])

md.check_if_frames_are_equal(pd.DataFrame(rows, columns=encoded_data.columns), encoded_data)

True

In [54]:
encoder = OneHotEncoder(sparse=False)
fitted_encoder = encoder.fit(pd.DataFrame(['green', 'blue']))
transformed = fitted_encoder.transform(pd.DataFrame(['green', 'blue']))
transformed

array([[0., 1.],
       [1., 0.]])

In [62]:
encoder.inverse_transform(transformed)

array([['green'],
       ['blue']], dtype=object)

{'green': [0.0, 1.0], 'blue': [1.0, 0.0]}